@tailwind base;
@tailwind components;
@tailwind utilities;

.cards {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.cards::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/* styles/global.css */
.animate-pulse {
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #e0e0e0;
    }
}

.loader-cards {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.loader-cards::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.loader-cards {
    display: flex;
    gap: 10px;
    padding: 16px 0;
    overflow-x: scroll;
}

.loader-card {
    background-color: #f3f4f6;
    width: 224px;
    height: 256px;
    border-radius: 8px;
}

.loader-image {
    width: 100%;
    height: 160px;
    background-color: #e0e0e0;
    border-radius: 8px 8px 0 0;
}

.loader-info {
    padding: 8px;
}

.loader-title {
    height: 24px;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 8px;
}

.loader-price {
    width: 64px;
    height: 16px;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 8px;
}

.loader-rating {
    display: flex;
    gap: 8px;
}

loader- .loader-star {
    width: 16px;
    height: 16px;
    background-color: #e0e0e0;
    border-radius: 50%;
}

/* styles/global.css */
.spinner-border {
    border-width: 4px;
    border-color: #ccc;
    border-top-color: transparent;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.layout {
    display: grid;
    grid-template-areas:
        'ps5 women women'
        'ps5 speaker perfume'
}

input[type="checkbox"]:checked {
    accent-color: red;
    /* Change checkbox color to red when checked */
}